/*@font-face {
    font-family: 'MinecraftDefault';
    src: url('https://panel1.zephmc.dev/extensions/motdmanager/fonts/MinecraftDefault-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MinecraftDefault';
    src: url('https://panel1.zephmc.dev/extensions/motdmanager/fonts/MinecraftDefault-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MinecraftDefault';
    src: url('https://panel1.zephmc.dev/extensions/motdmanager/fonts/MinecraftDefault-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MinecraftDefault';
    src: url('https://panel1.zephmc.dev/extensions/motdmanager/fonts/MinecraftDefault-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Unifont';
    src: url('https://panel1.zephmc.dev/extensions/motdmanager/fonts/unifont-17.0.03.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}*/
